{% extends "base.html" %} {% block title %}Edit Patient{% endblock %}{% block content %}
<br/>
<h4 align="center">Edit Patient</h4>
<div id="edit_patient_div">
    <form method="POST" action="{{ url_for('patients.edit_patient') }}">
        <!-- <input type="hidden" class="form-control" id="id" value="{{data.id}}"/> -->
        <div class="form-group">
            <label for="id">Patient ID</label>: <b> {{data.id}} </b>
            <input type="hidden" class="form-control" id="id" name="id" value="{{data.id}}"/>
        </div>
        <div class="form-group">
            <label for="name">Patient Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Patient Name" value="{{data.name}}"/>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" name="age" placeholder="Enter Age" value="{{data.age}}"/>
        </div>
        <div class="form-group">s
            <label for="bloodGroup">Blood Group</label>
            <input type="text" class="form-control" id="bloodGroup" name="bloodGroup" placeholder="Enter Blood Group" value="{{data.blood_group}}"/>
        </div>
        <div class="form-group">
            <label for="treatment">Treatment</label>
            <input type="text" class="form-control" id="treatment" name="treatment" placeholder="Enter Treatment" value="{{data.treatment}}"/>
        </div>
        <div class="form-group">
            <label for="patientSince">Patient Since</label> 
            <input type="date" class="form-control" id="patientSince" name="patientSince" placeholder="Enter Patient Since Date" value="{{data.patient_since}}"/>
        </div>
        <div class="form-group">
            <label for="history">History</label>
            <input type="text" class="form-control" id="history" name="history" placeholder="Enter History" value="{{data.history}}"/>
        </div>
        <button type="submit" class="btn btn-success btn-sm">Submit</button>
    </form>    
</div>
{% endblock %}