{% extends "base.html" %} {% block title %}Login{% endblock %}{% block content %}
<body style="background-image: url('../static/images/bg2.png');">
<div class="container">
    <div class="row mt-5">
        <div class="spContainer mx-auto">
            <div class="card px-4 py-5 border-0 shadow">
                <form method="POST">
                    <div class="d-inline text-center mb-3">
                        <h3 class="font-weight-bold" >Login</h3>
                        <p>Shree Clinic: Ayurveda & Panchkarma Center</p>
                    </div><br/>
                    <div class="d-inline text-center mb-0">
                        <div class="form-group mx-auto">
                            <!-- <label for="email">Email Address</label> -->
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email"/>
                        </div>
                    </div>
                    <div class="d-inline text-center mb-3">
                        <div class="form-group mx-auto">
                            <!-- <label for="password">Password</label> -->
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"/>
                        </div>
                    </div>
                    <div align="center">
                        <button type="btn" class="btn btn-success btn-sm" align="center">Login</button>
                    </div>
                </form><br/>
                <div class="form-group mx-auto mb-0">
                    <a class="text-black font-weight-bold regStr" href="#">Register new account</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
